.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(100px, auto);
    grid-gap: 10px;
}

.item{
  background-color: aqua;
  border-radius: 5px;
  padding: 5px;
}

.tall{
  grid-area: 1/4/3/5;
  background-color: green;
  border-radius: 5px;
  padding: 5px;
}

.wide{
  grid-area: 1/1/2/3;
  background-color: red;
  border-radius: 5px;
  padding: 5px;
}