body{
  display: grid;
  justify-content: center;
  align-items: center;
}

.profile{
  display: flex;
  background-color: burlywood;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 300px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatar{
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border-radius: 20px;
  margin-bottom: 15px;
}

.projects{
  width: 50%;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.rating{
  width: 50%;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

/* grid */