.container{
    display: grid;
    grid-template-columns: repeat(7,200px);
    grid-template-rows: repeat(4,100px);
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    gap: 4px;
}

.day{
    border: 2px solid black;
    background-color: rgb(54, 117, 235);
    border-radius: 5px;
    position: sticky;
}

.daynum{
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 35px;
}
