.ctranica{
    display: grid;
    direction: column;
    height: 100vh;
    grid-template-rows: 100px 1fr 80px;
    border: 2px solid black;
}

/* создать место для хедера */
header{
    height: 100px;
    border: 2px solid black;
}
/* создать место для фоотера */
footer{
    height: 80px;
    border: 2px solid black;
}
/* создать место для контента */
.content{
    border: 2px solid black;
}
