.container{
    display: grid;
    justify-content: center;
    font-family: 'Gill Sans',
     'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name{
    text-align: center;
}

.game{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    border: 2px solid black;
    width: 300px;
}

.kletka{
    border: 1px solid black;
}

.hod{
    text-align: center;
}

.button{
    text-align: center;
    border: 2px solid black;
    background-color: green;
    color:white;
}