.container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}

.item{
    border: 2px solid black;
    text-align: center;
}

@media (min-width: 600px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 900px){
    .container{
        grid-template-columns: repeat(3,1fr);
    }
}
