.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "header header"
        "main sidenews"
        "vertinews vertinews"
        "footer footer";
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    grid-area: header;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: black;
    border: 2px solid black;
    height: 100px;
    border-radius: 5px;
}

main {
    grid-area: main;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidenews {
    grid-area: sidenews;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vertinews {
    grid-area: vertinews;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.news {
    background-color: #e9e9e9;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
}

footer {
    grid-area: footer;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: black;
    border: 2px solid black;
    height: 100px;
    border-radius: 5px;
}