.container{
  display: grid;
  grid-template-rows: 200px 200px 200px;
  height: 50vh;
  width: 100%;
}

header {
  background-color: red;
}

footer {
  background-color: aquamarine;
}

.main_content{
  display: grid;
  grid-template-columns: 250px 1fr 250px;
}
section{
  background-color: blue;
}

main {
  background-color: yellow;
}

aside {
  background-color: blue;
}