.grid{
    height: 400px;
    display: grid;
    grid-template-columns: 200px 1fr;
    border: 2px solid black;
}
/* создать сайдбар,дать ему размер */
.sideb{
    padding: 10px;
    border: 2px solid black;
}
/* контент переместить вправо,дать ему размер */
.content{
    border: 2px solid blue;
}
